<div class="flex justify-content-between">
    <h3>Movimentação</h3>
    <a pButton label="Movimentar" styleClass="p-button-sm" class="p-button-sm" icon="pi pi-plus mr-2"
    routerLink="/lancamentos/cadastro"></a>
</div>

<div style="text-align: left">
  <input 
  type="text" 
  pInputText 
  size="80" 
  placeholder="Pesquise aqui por qualquer campo ex periodo,motivo,documento etc...."
  (input)="myTab.filterGlobal($event.target.value, 'contains')" 
  style="width: fit-content" 
/>

<div class="card shadow-3 mt-4 mb-4 p-0">
    <p-table 
    [globalFilterFields]=
    "[
    'id', 
    'codigolancamento'
    ,'cargo'
    ,'tipoMovimentacao'
    ,'dataMovimentacao'
    ,'motivoMovimentacao'
    ,'documento'
    ,'saldo']" 
    #myTab 
    [value]="lancamentos"  
    [responsive]="true" 
    [rows]="5" 
    [paginator]="true" 
    class="w-100">
    
            <ng-template pTemplate="header">
                <tr>
                  <th>Codigo</th>
                  <th>Cargo</th>
                  <th>Tipo</th>
                  <th>Data</th>
                  <th>Motivo</th>
                  <th>Documento</th>
                  <th>Saldo Calculado</th>
                  <th class="col-acoes-header"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lancamento>
                <tr>
                    <td [style]="{'width': '100px'}">
                      <span class="p-column-title">Codigo</span>
                      {{lancamento.codigolancamento }}
                    </td>
                    <td [style]="{'width': '200px'}">
                      <span class="p-column-title">Cargo</span>
                     {{lancamento.cargo}}
                    </td>
                    <td [style]="{'width': '200px'}">
                        <span class="p-column-title">Tipo</span>
                     {{lancamento.tipoMovimentacao}}
                    </td>
                    <td [style]="{'width': '200px'}">
                        <span class="p-column-title">Data</span>
                        {{lancamento.dataMovimentacao}}
                    </td>
                    <td [style]="{'width': '200px'}">
                        <span class="p-column-title">Motivo</span>
                        {{lancamento.motivoMovimentacao}}
                    </td>
                    <td [style]="{'width': '200px'}">
                        <span class="p-column-title">Documento</span>
                        {{lancamento.documento}}
                    </td>
                    <td [style]="{'width': '200px'}">
                      <span class="p-column-title">Saldo</span>
                      {{lancamento.saldo}}R$
                  </td>
              
                    <td class="col-acoes p-1 justify-content-between">
                      <a pButton pRipple type="button" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                      styleClass="p-button-sm" class="p-button-raised p-button-info p-button-text"
                      ></a>
                      <button  pButton pRipple icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                      styleClass="p-button-sm" class="p-button-raised p-button-danger p-button-text"
                      ></button>
                    </td>
                  </tr>
            </ng-template>
        <ng-template  pTemplate="emptymessage">
              <tr>
                <td colspan="9">
                  <span>Nenhum registro encontrado</span>
                </td>
              </tr>
        </ng-template>
         <ng-template pTemplate="summary">
              <div class="">
                Totalizador: {{ myTab.totalRecords }}
              </div>
         </ng-template>
    </p-table>
</div>
